@import '@/styles/main.scss';

.hero {
  .hero-wrapper {
    position: relative;
    z-index: 0;
    height: 85rem;
    video {
      position: absolute;
      z-index: -1;
      top: -20%;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .banner-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 620px;
      .hero-content {
        position: relative;
        .hero-content-text {
          font-size: 7.2rem;
        }
        .hero-content-des {
          font-size: 20px;
          font-weight: 400;
          color: $text-icon-secondary;
          margin: $space-10 0 $space-20;
        }
        .hero-button {
          position: absolute;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
      .info-static {
        display: flex;
        border-radius: 25px;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.35),
          rgba(0, 0, 0, 0.2)
        );
        .item-static {
          color: $text-icon-white;
          padding: $space-14;
          width: 320px;
          position: relative;

          .static-number {
            font-size: $text-hd-4;
          }
          .static-name {
            font-size: $text-bd-1;
          }
          &::after {
            content: '';
            height: 30%;
            width: 2px;
            position: absolute;
            right: 0;
            top: 40%;
            background-color: $text-icon-sub;
          }
        }
      }
    }
  }
}
