//space
$space-0-1: 0.5px;
$space-0-2: 1px;
$space-0-3: 2px;
$space-1: 4px;
$space-2: 8px;
$space-2-5: 1rem;
$space-3: 1.2rem;
$space-3-5: 1.4rem;
$space-4: 1.6rem;
$space-5: 2rem;
$space-6: 2.4rem;
$space-6-5: 2.6rem;

$space-10: 3.2rem;
$space-11: 3.6rem;
$space-14: 4rem;
$space-16: 5.2rem;

$space-18: 6.4rem;
$space-20: 8rem;

//icon size

// font
//body
$text-bd-4: 1.2rem;
$text-bd-3: 1.4rem;
$text-bd-2: 1.6rem;
$text-bd-1: 2rem;
// Heading
$text-hd-7: 2.4rem;
$text-hd-6: 2.8rem;
$text-hd-5: 3.2rem;
$text-hd-4: 4.8rem;
$text-hd-3: 5.6rem;
$text-hd-2: 6.4rem;
$text-hd-1: 7.2rem;
$text-hd: 8rem;

// radius

$border-rad-1: 1.2rem;
$border-rad-2: 2rem;
$border-rad-3: 10rem;
$border-rad-4: 9999rem;
